extends layout

block content
  h1 New Message Form
  form(action="/new" method="Post")
    p user:
        input(
        placeholder='user'
        type='text'
        name='author'
        )
    p message:
        input(
        placeholder="text"
        type='text'
        name='text'
        )
    input(type='submit')